


  <h1 class="energized">J'MARKET</h1>
<!--<hr>-->
    <form ng-submit="doLogin()">
      <div class="list list-inset" >
        <div class="div-padding">
          <label  style="color:#29a9c0;font-weight:bold;">
            Merci de vous identifier.
          </label>
        </div>
        <label class="item item-input input-login">
          <input type="text" ng-model="loginData.username" placeholder="Votre e-mail" required>
        </label>
        <label class="item item-input input-password">
          <input type="password" ng-model="loginData.password" placeholder="Mot de passe" required>
        </label>
        <label class="padding-top">
          <button class="button button-block button-energized " type="submit">S'identifier</button>
        </label>
      </div>
    </form>
  

